.detail-card {
  max-width: 900px;
  margin: 40px auto;
  background-color: #141414;
  color: #fff;
  border-radius: 16px;
}

.director-name {
  color: #e50914;
  font-weight: bold;
  text-align: center;
}

.divider {
  margin: 20px 0;
  background-color: #333;
}

.director-left {
  display: flex;
  justify-content: center;
}

.director-image-large {
  width: 220px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  border: 2px solid #e50914;
}

.director-info p {
  margin-bottom: 10px;
}

.detail-actions {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
