html, body {
  background-color: #141414; /* fondo oscuro estilo Netflix */
  color: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* evita scroll horizontal */
}

#root {
  min-height: 100vh;
  background-color: #141414;
}

.home-container {
  background-color: #141414;
  color: #ffffff;
  padding: 2rem;
  min-height: 100vh;
}

.section-title {
  color: #e50914; /* rojo Netflix */
  font-weight: bold;
  margin-bottom: 1rem;
}

.card-row {
  margin-top: 1rem;
}

.empty-msg {
  color: #aaa;
  font-style: italic;
}