.form-card {
  max-width: 500px;
  margin: 40px auto;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.file-input {
  margin-top: 16px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
