.catflix-navbar {
  width: 100%;
}

.catflix-appbar {
  background: linear-gradient(to right, #141414, #000000);
  box-shadow: none;
}

.catflix-logo {
  height: 80px;
  cursor: pointer;
}

.toolbar-nav {
  background-color: #141414;
  padding: 0.5rem 0;
  border-bottom: 3px solid transparent; /* base */
  background-image: linear-gradient(to right, #e50914, #141414, #e50914);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 3px; /* grosor de la línea */
}

.nav-container {
  display: flex;
  justify-content: center; /* centramos los botones de navegación */
  align-items: center;
  gap: 2rem;
}

.nav-buttons {
  display: flex;
  gap: 1.5rem;
}

.nav-btn {
  color: #e5e5e5;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-btn:hover {
  color: #e50914; /* rojo Netflix */
}

.nav-btn.active {
  color: #ffffff;
  border-bottom: 2px solid #820007;
}

.add-btn {
  font-weight: bold;
  color: #fff;
  background-color: #e50914;
  padding: 6px 12px;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.add-btn:hover {
  background-color: #ffffff;
}

.auth-buttons {
  display: flex;
  align-items: center;
  margin-left: auto; 
  padding-right: 1rem;
}

.login-btn {
  color: #ffffff;
  background-color: #e50914;
  padding: 6px 14px;
  border-radius: 4px;
  text-decoration: none;
  transition: background 0.3s ease;
}

.login-btn:hover {
  background-color: #f6121d;
}

.logout-btn {
  background-color: transparent;
  border: 1px solid #e50914;
  color: #e50914;
  padding: 6px 14px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logout-btn:hover {
  background-color: #e50914;
  color: #a10000;
}